/*
Définition de variables Sass, par exemple :
   $color: #282c34;
*/

// COLORS
$darkColor: #13405d;
$mediumColor: #4fb0e3;
$lightColor: #bddcf0;

$backgroundMessage: #fff;

// HAUTEUR DE L'INPUT
$inputHeight: 4rem;
